<% include ./partials/fluffyheader.ejs %>

<link rel="stylesheet" href="../stylesheets/landing.css">

<div class="container">
<h1>Welcome to Fluffy Pillows</h1>
<a class="add-button" href="/pillows">View all Pillows</a>
</div>
